.WindowFrame{
    height:600px;
    width:var(--screen-width);
}
.WindowFrame{
    top:0;left:0;overflow:hidden;position:absolute;
}
@font-face {
    font-family: "DEFAULT_FONT";
    src: url('../font/en.ttf') format('truetype');
}
* {
    font-family: "DEFAULT_FONT";
}
.dFlexWrap_PvZ2DleGuessBox > * {
    border: 2px solid rgb(96 139 168);
    border-radius: 5px;
    font-size:18px;
    height:45px;
    text-align:center;
    width: 109px;
    flex: 0 0 auto;
    background-color: lightblue;
}

.dFlexWrap_PvZ2DleGuessBox {
    border: 2px dotted rgb(96 139 168);
    display: grid;
    grid-template-columns: repeat(9, 109px);
    gap: 4px;
    position: absolute;
    overflow: auto;
    left: 10%;
    z-index:1000;
    top: 160px;
    height: 60%;
    width: 80%;
    padding-top: 8px;
    background-color: beige;
    align-content: start;
}

.dFlexWrap_PvZ2DleItem > * {
    border: 2px solid rgb(96 139 168);
    border-radius: 5px;
    font-size:20px;
    height:45px;
    text-align:center;
    width: 110px;
    flex: 0 0 auto;
    padding-top:5px;
    position:relative;
    background-color: lightblue;
}

.dFlexWrap_PvZ2DleItem {
    border: 2px dotted rgb(96 139 168);
    display: grid;
    grid-template-columns: repeat(9, 110px);
    gap: 4.5px;
    position: absolute;
    overflow: auto;
    left: 9%;
    top: 160px;
    height: 70%;
    width: 81%;
    padding-top: 8px;
    align-content: start;
    background: rgba(0,0,0,0.8);
}

.Button {
    cursor: pointer;
    transition: filter .2s;
}
.Button:hover {
    filter:brightness(110%);
}
.Button:active {
    filter:brightness(90%);
}